[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
beautifulsoup4 = "*"
mysql-connector-python = "*"
aioambient = "*"
ambient-api = "*"
Jinja2 = "*"

[requires]
python_version = "3"
